### Tuple
* 원소를 수정, 삭제, 추가가 안 됨.
* indexing, slicing은 가능

In [1]:
data = (5,3,5,6,5,9)

In [2]:
data[3]

6

In [3]:
data[1:5]

(3, 5, 6, 5)

In [4]:
L = (1,3,5,7,9)
M = (2,4,6,8)

In [5]:
L + M

(1, 3, 5, 7, 9, 2, 4, 6, 8)

In [6]:
L * 3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [7]:
3 in L

True

In [8]:
10 in L

False

In [9]:
len(L)

5

In [10]:
L.index(5)

2

In [11]:
L.count(5)

1

In [13]:
L
L[3] = 10  # tuple은 요소의 수정, 삭제, 추가가 안 됨.

TypeError: 'tuple' object does not support item assignment

### Set
* 집합 - 순서(index)가 없음
* 중복데이터가 없는, unique한 값들로 요소가 구성.
* 집합연산

In [14]:
s = {4,2,6,5}

In [15]:
s.remove(6)
s

{2, 4, 5}

In [16]:
s.add(6)
s

{2, 4, 5, 6}

In [17]:
s.add(5)  # 중복데이터를 허용하지 않음.
s

{2, 4, 5, 6}

In [18]:
s[3] # 순서와 인덱스가 없다.

TypeError: 'set' object is not subscriptable

In [21]:
5 in s

True

In [22]:
len(s)

4

In [23]:
s.clear()

In [24]:
s

set()

In [25]:
s = {4,2,6,5}

In [26]:
s.discard(4)
s

{2, 5, 6}

In [27]:
s.remove(10)

KeyError: 10

In [29]:
s.discard(10)
s

{2, 5, 6}

In [30]:
s = set()  # 요소가 없는 set

In [31]:
L = [1,2,3,5,4,3,2,3,4,3,2]

In [32]:
set(L)

{1, 2, 3, 4, 5}

In [33]:
# 집합연산.

In [34]:
a = {1,3,5,7}
b = {1,2,4,6,7,8}

In [35]:
a.union(b)  # 합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
a.intersection(b)  # 교집합

{1, 7}

In [37]:
a.difference(b)  # 차집합

{3, 5}

In [38]:
a.symmetric_difference(b) # 교차차집합

{2, 3, 4, 5, 6, 8}

In [39]:
a.isdisjoint(b)  # 서로소

False

In [40]:
a.issubset(b)  # 부분집합

False

In [41]:
a.issuperset(b)  # 포함하는지 여부

False

In [42]:
# tuple quiz

In [51]:
mytuple = ('tuple', (1,2,3), [4,5,6])

# 'tuple'을 출력하세요
# '3'을 출력하세요
# '4', '5'를 출력하세요.
# (1,2,3)을 출력하세요

print(mytuple[0])
print(mytuple[1][2])
print(mytuple[2][:2])
print(mytuple[1])

tuple
3
[4, 5]
(1, 2, 3)

In [61]:
mytuple = (1,2,3,3,2,1)
yourtuple = (4,5,6)

# 두 tuple을 연결하세요
# mytuple을 3번 반복하세요
# mytuple에 3이 있는지 확인하세요
# mytuple에 3의 갯수를 확인하세요
# mytuple에서 2의 인덱스를 확인하세요
# mytuple의 길이를 출력하세요
# mytuple에서 최대값을 출력하세요.
# mytuple의 값의 합을 출력하세요.
# mytuple을 오름차순 정렬하세요.

print(mytuple + yourtuple)
print(mytuple * 3)
print(3 in mytuple)
print(mytuple.count(3))
print(mytuple.index(3))
print(len(mytuple))
print(max(mytuple))
print(sum(mytuple))
print(tuple(sorted(mytuple)))

(1, 2, 3, 3, 2, 1, 4, 5, 6)
(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)
True
2
2
6
3
12
(1, 1, 2, 2, 3, 3)

In [62]:
# set quiz

In [68]:
# myset이라는 원소가 없는 set을 만드세요
# 'sky'와 'earth'를 요소로 하는 set을 만드세요
# 'moon'이라는 요소를 추가하세요
# 'sun'이 있는지 확인하세요
# myset의 길이를 출력하세요.
# 모든 요소를 삭제하세요

myset = set()
print(myset)
myset = {'sky','earth'}
print(myset)
myset.add('moon')
print(myset)
print('sun' in myset)
print(len(myset))
print(myset.clear())

set()
{'earth', 'sky'}
{'earth', 'sky', 'moon'}
False
3
None

In [74]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {4,5,6}

# 합집합을 구하세요
# 교집합을 구하세요
# 차집합을 구하세요
# 대칭차집합을 구하세요
# {4,5,6}이 A의 부분집합인지 확인하세요
# A가  {4,5,6}포함하는지 확인하세요.

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A.symmetric_difference(B))
print(A.issubset(C))
print(A.issuperset(C))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}
False
False

In [75]:
# L = [1,2,3,4,3,3,3,4] 리스트에서 unique한 값만 출력하세요
L = [1,2,3,4,3,3,3,4]
set(L)

{1, 2, 3, 4}

### Dictionary (사전, key:value)

In [76]:
D = {'one':1, 'tow':2, 'three':3}

In [77]:
D

{'one': 1, 'tow': 2, 'three': 3}

In [78]:
D['one']

1

In [79]:
D['three']

3

In [80]:
mydic = {}  # s = set()

In [81]:
mydic

{}

In [82]:
mydic['math'] = 80
mydic

{'math': 80}

In [83]:
mydic['eng'] = 90

In [84]:
mydic

{'math': 80, 'eng': 90}

In [85]:
mydic['math'] = 100
mydic

{'math': 100, 'eng': 90}

In [86]:
mydic['science'] = 70
mydic

{'math': 100, 'eng': 90, 'science': 70}

In [87]:
len(mydic)

3

In [88]:
'kor' in mydic  # key를 기준으로 존재여부 판별

False

In [89]:
'math' in mydic

True

In [90]:
mydic.pop('science')
mydic

{'math': 100, 'eng': 90}

In [91]:
del mydic['math']
mydic

{'eng': 90}

In [93]:
mydic.clear()
mydic

{}

In [94]:
color = {'red':1, 'blue':3}

In [95]:
color['blue']

3

In [96]:
color['yellow']

KeyError: 'yellow'

In [97]:
color.get('blue')

3

In [98]:
color.get('yellow')

In [99]:
color.get('yellow', 1)

1

In [104]:
color.setdefault('blue', 5)

3

In [105]:
color.setdefault('yellow', 5)

5

In [106]:
color

{'red': 1, 'blue': 3, 'yellow': 5}

In [100]:
color.keys()

dict_keys(['red', 'blue'])

In [101]:
color.values()

dict_values([1, 3])

In [102]:
color.items()

dict_items([('red', 1), ('blue', 3)])

In [103]:
color

{'red': 1, 'blue': 3}

In [107]:
color2 = {'pink': 7}

In [108]:
color.update(color2)
color

{'red': 1, 'blue': 3, 'yellow': 5, 'pink': 7}

In [117]:
# 연속값을 리턴하는 함수 : range
print(list(range(5)))
print()
print(list(range(0,5)))
print()
print(list(range(1, 51)))
print()
print(list(range(1,51,3)))
print()
print(list(range(49,0,-3)))

[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

[49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [118]:
# 형변환 함수..

In [119]:
int('75')

75

In [120]:
float('2.5')

2.5

In [121]:
float(10)

10.0

In [122]:
bool(1)  # 0이 아닌 숫자값이 있으면 True

True

In [123]:
bool(0)  # 숫자값이 0이면 False

False

In [124]:
bool([])  # 원소가 없으면 False

False

In [125]:
bool([1,2,3]) # 원소가 있으면 True

True

In [126]:
a = 'hello'

In [127]:
list(a)

['h', 'e', 'l', 'l', 'o']

In [128]:
tuple(a)

('h', 'e', 'l', 'l', 'o')

In [129]:
set(a)

{'e', 'h', 'l', 'o'}

In [ ]:
# Dictionary Quiz

In [130]:
name = {'mary':1099, 'sams':2111, 'amy':2024, 'bob':5877}
name

{'mary': 1099, 'sams': 2111, 'amy': 2024, 'bob': 5877}

In [144]:
# mary의 값을 출력하세요.
# key는 'kelly', value는 7887인 새로운 요소를 추가하세요.
# 'marry'의 value를 2000으로 수정하세요.
# 'key'에 'sams'가 포함되어 있는지 확인하세요.
# value에 2111이 있는지 확인하세요.
# key값들을 올림차순 정렬해서 출력하세요.
# value들의 합을 출력하세요.
# key와 value의 튜플 쌍으로 출력하세요.

name['mary']
name['kelly'] = 7887
name
name['mary'] = 2000
name
'sams' in name
2111 in name.values()
sorted(name)
# name.keys()
sum(name.values())
name.items()

dict_items([('mary', 2000), ('sams', 2111), ('amy', 2024), ('bob', 5877), ('kelly', 7887)])

In [ ]:
# 이름을 입력받은 후 해당하는 사람의 점수를 출력하도록 하세요.
# 이름을 입력받은 후 해당 사람이 없으면 값 3355로 새로운 요소로 추가하도록 하세요.
# 'Jane'의 값을 출력하고, 없으면 3000을 출력하도록 하세요.

In [159]:
#1
nam = input('"name" dict에 있는 이름을 입력하세요')
name[nam]

"name" dict에 있는 이름을 입력하세요bob

5877

In [148]:
#2
nam = input('"name" dict에 있는 이름을 입력하세요')
name.setdefault(nam, 3355)

"name" dict에 있는 이름을 입력하세요park

3355

In [149]:
name

{'mary': 2000,
 'sams': 2111,
 'amy': 2024,
 'bob': 5877,
 'kelly': 7887,
 'park': 3355}

In [151]:
#3
nam = input('"name" dict에 있는 이름을 입력하세요')
name.get(nam, 3000)

"name" dict에 있는 이름을 입력하세요june

3000

In [152]:
name

{'mary': 2000,
 'sams': 2111,
 'amy': 2024,
 'bob': 5877,
 'kelly': 7887,
 'park': 3355}