In [1]:
import numpy as np

In [2]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
a > 5

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [4]:
a < 0

array([False, False, False, False, False, False, False, False, False,
       False])

In [5]:
np.any(a>5)

True

In [7]:
np.all(a<0)

False

In [8]:
test_a = np.array([1,3,0], float)
test_a

array([1., 3., 0.])

In [9]:
test_b = np.array([5,2,1], float)
test_b

array([5., 2., 1.])

In [10]:
test_a + test_b

array([6., 5., 1.])

In [11]:
test_a * test_b

array([5., 6., 0.])

In [12]:
test_a > test_b

array([False,  True, False])

In [13]:
test_a ==  test_b

array([False, False, False])

In [14]:
np.any(test_a > test_b)

True

In [15]:
np.all(test_a > test_b)

False

##### boolean indexing

In [16]:
test_array = np.array([1,4,0,2,3,8,9,7])
test_array

array([1, 4, 0, 2, 3, 8, 9, 7])

In [17]:
test_array > 3

array([False,  True, False, False, False,  True,  True,  True])

In [18]:
test_array[test_array > 3]

array([4, 8, 9, 7])

In [19]:
names = np.array(['bon','kim','jim','park'])
names

array(['bon', 'kim', 'jim', 'park'], dtype='<U4')

In [20]:
# boolean indexing을 통해서 'kim'을 출력하시오..
# names[1]

'kim'

In [21]:
names == 'kim'

array([False,  True, False, False])

In [22]:
names[[False,  True, False, False]]

array(['kim'], dtype='<U4')

In [23]:
names[names == 'kim']

array(['kim'], dtype='<U4')

In [24]:
# names에서 'kim'이 아닌 사람을 boolean indexing으로 출력..

In [26]:
names != 'kim'

array([ True, False,  True,  True])

In [27]:
names[names != 'kim']

array(['bon', 'jim', 'park'], dtype='<U4')

In [30]:
randarr = np.random.randn(7,4)
randarr

array([[-0.81720631, -0.16981839,  0.30756691,  0.35513677],
       [-1.74138668,  0.1083021 , -0.70835535, -0.58217363],
       [ 0.01183326,  0.13315449, -0.82767234,  0.38696116],
       [ 1.10883507,  2.07354099, -0.08048233,  0.82944164],
       [ 0.74427844,  1.55885583,  0.03399476, -0.51820898],
       [ 0.82061573,  0.58616714, -0.27156232, -0.30163999],
       [ 1.34635912, -0.75347469,  1.12956495, -0.86642582]])

In [31]:
# boolean index를 통해서 0보다 큰 값만 출력..

In [32]:
randarr > 0

array([[False, False,  True,  True],
       [False,  True, False, False],
       [ True,  True, False,  True],
       [ True,  True, False,  True],
       [ True,  True,  True, False],
       [ True,  True, False, False],
       [ True, False,  True, False]])

In [33]:
randarr[randarr > 0]

array([0.30756691, 0.35513677, 0.1083021 , 0.01183326, 0.13315449,
       0.38696116, 1.10883507, 2.07354099, 0.82944164, 0.74427844,
       1.55885583, 0.03399476, 0.82061573, 0.58616714, 1.34635912,
       1.12956495])

In [34]:
# 1 ~ 100까지 정수에서 20보다 크고 70보다 작은 3의 배수를 출력..

In [36]:
mat1 = np.arange(1, 101)
mat1

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [37]:
mat1 > 20

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [38]:
mat1 < 70

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [39]:
mat1 % 3 == 0

array([False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False])

In [40]:
(mat1 > 20) & (mat1 < 70) & (mat1%3 == 0)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False,  True,
       False, False,  True, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [41]:
mat1[(mat1 > 20) & (mat1 < 70) & (mat1%3 == 0)]

array([21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69])

In [42]:
### fancy index

In [43]:
arr = np.array([2,3,4,5,4,7,6,8,6])
arr

array([2, 3, 4, 5, 4, 7, 6, 8, 6])

In [44]:
arr[5]

7

In [45]:
arr[5:8]

array([7, 6, 8])

In [46]:
arr[:5]

array([2, 3, 4, 5, 4])

In [47]:
arr[[1,5,6]]

array([3, 7, 6])