In [101]:
import pandas as pd
import MySQLdb

In [102]:
df = pd.read_csv('budongsan.csv', index_col=0)
df.head()

        매물번호           연락처             주소              부동산      보증금     월세
0  3467204.0  010-123-4567  서울시 강남구 역삼동 0  TODAY공인중개사(이인규)   1000.0  100.0
1  3150497.0  010-123-4567  서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0   60.0
2  3440906.0  010-123-4567  서울시 강남구 역삼동 2     열린공인중개사(강광수)   5000.0   65.0
3  3376834.0  010-123-4567  서울시 강남구 역삼동 3     미래공인중개사(김유철)   3000.0   95.0
4  3331511.0  010-123-4567  서울시 강남구 역삼동 4  한백부동산공인중개사(김남조)    110.0  110.0

In [103]:
db = MySQLdb.connect('localhost', 'root', '1234', charset='utf8')

In [104]:
cursor = db.cursor() # cursor : 데이터베이스에 명령을 전달하는 객체

In [105]:
sql = 'show databases;'
cursor.execute(sql)

9

In [106]:
cursor.fetchall()

(('information_schema',),
 ('budonsan',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sqldb',),
 ('sys',),
 ('world',))

In [107]:
sql = 'drop database if exists budongsan; create database budonsan;'
cursor.execute(sql)

2

In [108]:
sql = 'show databases'
cursor.execute(sql)

9

In [109]:
cursor.fetchall()

(('information_schema',),
 ('budonsan',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sqldb',),
 ('sys',),
 ('world',))

In [110]:
db = MySQLdb.connect('localhost', 'root', '1234', 'budongsan', charset='utf8')

In [111]:
sql = '''use budonsan;
show tables;'cursor.execute(sql)

0

In [112]:
sql = '''create table provider(
provider_id int primary key,
name varchar(255))'''
cursor.execute(sql)

0

In [113]:
cursor.fetchall()

()

In [114]:
sql = 'insert into provider values(2, "다음");insert into provider values(3, "네이버");insert into provider values(4, "구글")'
cursor.execute(sql)

1

In [115]:
sql='''
select * from provider;
'''
cursor.execute(sql)

3

In [116]:
cursor.fetchall()

((2, '다음'), (3, '네이버'), (4, '구글'))

In [117]:
### budongsan.csv의 모든 자료를 budongsan 데이터 베이스의 테이블에 입력

In [118]:
df

         매물번호           연락처              주소                부동산      보증금     월세
0   3467204.0  010-123-4567   서울시 강남구 역삼동 0    TODAY공인중개사(이인규)   1000.0  100.0
1   3150497.0  010-123-4567   서울시 강남구 역삼동 1    TODAY공인중개사(이인규)  11000.0   60.0
2   3440906.0  010-123-4567   서울시 강남구 역삼동 2       열린공인중개사(강광수)   5000.0   65.0
3   3376834.0  010-123-4567   서울시 강남구 역삼동 3       미래공인중개사(김유철)   3000.0   95.0
4   3331511.0  010-123-4567   서울시 강남구 역삼동 4    한백부동산공인중개사(김남조)    110.0  110.0
5   3373198.0  010-123-4567   서울시 강남구 역삼동 5    강남코리아공인중개사(기숙영)  15000.0   70.0
6   3376434.0  010-123-4567   서울시 강남구 역삼동 6       열린공인중개사(강광수)   1000.0   85.0
7   3322860.0  010-123-4567   서울시 강남구 역삼동 7       한강공인중개사(김상헌)   1000.0   80.0
8   3303061.0  010-123-4567   서울시 강남구 역삼동 8       동하공인중개사(임성우)   1000.0   60.0
9   3262172.0  010-123-4567   서울시 강남구 역삼동 9       스타공인중개사(박정직)   2000.0   50.0
10  3228631.0  010-123-4567  서울시 강남구 역삼동 10     HS강남공인중개사(김현수)   1000.0   96.0
11  3505011.0  010-123-4567  서울시 강남구 역삼동 11        H공인중개사(김용만)  15000.0   70.0
12  3249401.0  010-123-4567  서울시 강남구 역삼동 12       도원공인중개사(손석진)     65.0   65.0
13  3330951.0  010-123-4567  서울시 강남구 역삼동 13     강남우리공인중개사(어정화)   2000.0  150.0
14  3494055.0  010-123-4567  서울시 강남구 역삼동 14       청록공인중개사(하순자)   3000.0   60.0
15  3317227.0  010-123-4567  서울시 강남구 역삼동 15      커피한잔공인중개사(손별)    500.0   67.0
16  3405679.0  010-123-4567  서울시 강남구 역삼동 16    강남코리아공인중개사(기숙영)  15000.0   60.0
17  3103384.0  010-123-4567  서울시 강남구 역삼동 17    TODAY공인중개사(이인규)   5000.0   50.0
18  3418616.0  010-123-4567  서울시 강남구 역삼동 18       나무공인중개사(조민영)     90.0   90.0
19  3456814.0  010-123-4567  서울시 강남구 역삼동 19       한강공인중개사(김상헌)    300.0   80.0
20  3181675.0  010-123-4567  서울시 강남구 역삼동 20    TODAY공인중개사(이인규)   5000.0   60.0
21  3309372.0  010-123-4567  서울시 강남구 역삼동 21    한백부동산공인중개사(김남조)     75.0   75.0
22  3501566.0  010-123-4567  서울시 강남구 역삼동 22    강남코리아공인중개사(기숙영)   1000.0   65.0
23  3346510.0  010-123-4567  서울시 강남구 역삼동 23       도원공인중개사(손석진)     65.0   65.0
24  3406670.0  010-123-4567  서울시 강남구 역삼동 24    TODAY공인중개사(이인규)   1000.0   60.0
25  3493254.0  010-123-4567  서울시 강남구 역삼동 25     아셈타운공인중개사(임현옥)   7000.0  100.0
26  3501607.0  010-123-4567  서울시 강남구 역삼동 26    강남코리아공인중개사(기숙영)   2000.0   63.0
27  3484623.0  010-123-4567  서울시 강남구 역삼동 27       웰컴공인중개사(이영진)   1000.0  120.0
28  3190410.0  010-123-4567  서울시 강남구 역삼동 28       건우공인중개사(김상모)     70.0   70.0
29  3350050.0  010-123-4567  서울시 강남구 역삼동 29       NB공인중개사(길주현)   1000.0   70.0
30  3495453.0  010-123-4567  서울시 강남구 역삼동 30  부동산네트워크공인중개사(황창문)   8000.0   55.0
31  3446619.0  010-123-4567  서울시 강남구 역삼동 31       도원공인중개사(손석진)     68.0   68.0
32  3451078.0  010-123-4567  서울시 강남구 역삼동 32       스타공인중개사(박정직)   4000.0   40.0
33  3345445.0  010-123-4567  서울시 강남구 역삼동 33       대청공인중개사(이선영)  14000.0   70.0
34  3332380.0  010-123-4567  서울시 강남구 역삼동 34    한백부동산공인중개사(김남조)  10000.0  100.0
35  3450803.0  010-123-4567  서울시 강남구 역삼동 35       스타공인중개사(박정직)   6000.0   50.0
36  3471049.0  010-123-4567  서울시 강남구 역삼동 36       정성공인중개사(정문식)    100.0  100.0
37  3438747.0  010-123-4567  서울시 강남구 역삼동 37    TODAY공인중개사(이인규)   3000.0  100.0
38  3330749.0  010-123-4567  서울시 강남구 역삼동 38       미래공인중개사(김유철)   1000.0   85.0
39  3446920.0  010-123-4567  서울시 강남구 역삼동 39    한백부동산공인중개사(김남조)     75.0   75.0
40  3501554.0  010-123-4567  서울시 강남구 역삼동 40    강남코리아공인중개사(기숙영)   1000.0   63.0
41  3435418.0  010-123-4567  서울시 강남구 역삼동 41      친절한공인중개사(김천호)    500.0   65.0
42  3501551.0  010-123-4567  서울시 강남구 역삼동 42    강남코리아공인중개사(기숙영)   3000.0   75.0

In [119]:
sql = '''
drop table if exists room;
create table room(
phone varchar(255),
addr varchar(255),
agent varchar(255),
deplosit int,
rent int
)
'''

cursor.execute(sql)

0

In [120]:
for i in range(len(df)):
    phone = df.iloc[i][1]
    addr = df.iloc[i][2]
    agent = df.iloc[i][3]
    deposit = df.iloc[i][4]
    rent = df.iloc[i][5]
    
    sql = """
    insert into room values('{}','{}','{}','{}','{}')
    """.format(phone, addr, agent, deposit, rent)
    
    cursor.execute(sql)

In [121]:
sql ='select * from room;'
cursor.execute(sql)

43

In [122]:
db.commit()