### Python Review Exercise

In [2]:
# print('내용') - 화면에 내용을 출력하는 함수..

print('hello world')

hello world

In [3]:
# 값을 변수에 저장해서 사용..
# 변수 = '값' : 값이 변수에 할당..값을 변수가 저장
# 변수 : 값을 담는 그릇..

var1 = 'hello world'
var2 = 24
var3 = 3.14
var4 = True

In [4]:
print(var1, var2, var3, var4)

hello world 24 3.14 True

In [5]:
# 변수에 연산을 하면 변수의 값이 연산한다..
var2 + var3

27.14

In [ ]:
# 변수를 만드는 원칙

# 1. '=' 할당연산자를 통해 변수에 값을 저장하면 변수가 생성..
# 2. 파이썬 문법키워드는 사용금지
#    (ex. return, def, class, if, for,)
# 3. 특수문자는 '_'만 사용 가능 : var_1
# 4. 공백을 포함할 수 없다.
# 5. 숫자도 가능하지만 숫자로 시작하면 안 된다..
#    (var1 : o,   1var : x)

In [ ]:
# 주석 - 파이썬이 코드로 인식하지 않는 부분

# 한 줄 주석

"""
여러 줄 주석
여러 줄 주석
"""

In [6]:
# print()는 실해되면 자동 줄바꿈..

print('hello world')
print('hello python')

hello world
hello python

In [8]:
# print( content, end=' ') : 줄 바꿈이 아니라, end의 값을 붙인다.
print('hello world', end=' ')
print('hello python')

hello world hello python

In [9]:
# 여러요소를 출력하는 경우 : ','로 구분한다

print(var1, var2, var3, 'hello python')

hello world 24 3.14 hello python

### Data Type

##### 원소가 하나인 데이터 타입
1. int    # 정수타입
2. float  # 실수타입
3. bool  # 불타입

##### 원소가 여럿인 데이터 타입 : Sequence
4. string : 문자열, ' ' 쌓는다, 원소를 수정, 삭제, 추가가 안 됨.., 인덱스, 순서
5. List : [ ], 원소를 수정,삭제,추가가 자유롭게.. , 인덱스, 순서
6. Set : { }, 집합개념, 수정, 삭제, 추가가 됨, 인덱스와 순서가 없다.
7. Tuple : ( ), 원소의 수정,삭제,추가가 안 됨.., 인덱스와 순서가 있다..
8. Dictionary : {key:value}, 원소의 수정,삭제,추가 가능, 인덱스와 순서는 없다..

In [10]:
### String

In [11]:
# 문자열 속에서 '\'는 특수한 의미를 갖는다.
# \n : 줄바꿈표시
# \t : tab의 의미..

print('hello \n world')
print('hello \t world')

hello
 world
hello 	 world

In [12]:
# 문자열은 항상 ' ' 묶어준다..
str1 = 'python'
str2 = "python"
str3 = '''python'''

In [ ]:
# 따옴표를 중복해서 찍는 경우, 바깥쪽 따옴표와 안쪽 따옴표는 달라야 한다..

In [13]:
str1 = "hello 'python' world"
str2 = 'hello "python" world'
print(str1)
print(str2)

hello 'python' world
hello "python" world

In [14]:
str1 = "hello "python" world"
print(str1)

SyntaxError: invalid syntax (<ipython-input-14-7c2852ce63b6>, line 1)

In [15]:
# 문자열을 '+' 연산하면, 문자열을 이어준다
# 문자열을 '*' 연산하면, 문자열을 반복한다..

print('hello' + 'world')
print('hello'*3)

helloworld
hellohellohello

In [16]:
# 인덱싱과 슬라이싱
# string은 여러 요소로 구성되어서, 각각은 순번을 갖고, 순번이 인덱스..
# 순번은 항상 0부터 시작
# 순번(인덱스)은 주소값 역할.. 값에 접근할 때는 주소를 통해서 접근..
# 주소값은 항상 대괄호 [] 안에 적는다. => str[3]

In [2]:
text = 'python programming is fun!!'

In [18]:
# 인덱싱 - 하나의 요소 선택

In [19]:
text[0]

'p'

In [20]:
text[3]

'h'

In [21]:
text[-1]

'!'

In [22]:
text[-5]

'f'

In [23]:
# 슬라이싱 - 구간선택 => : >[start_index : end_index (: step)]

In [24]:
text

'python programming is fun!!'

In [25]:
text[1:5] # 마지막인덱스는 선택되지 않는다

'ytho'

In [27]:
# pro
text[7:10]   # start : 7, end : 9

'pro'

In [28]:
text[:5]   # 5번 인덱스 앞쪽으로 전체선택

'pytho'

In [29]:
text[10:]  # 10번 인덱스부터 뒤 쪽으로 전체 선택..

'gramming is fun!!'

In [30]:
text[2:10:3]  # 2번부터 10번까지 선택하는데, 3번씩 건너서 선택..

'tnr'

In [31]:
text[-2]  # 위에서 두번쨰 요소

'!'

In [ ]:
text[-5:]   # 뒤에서 5번째에서 뒤로 전체선택

In [3]:
text[:-10]   # 뒤에서 10번째부터 앞으로 전체선택..

'python programmin'

In [4]:
# python_test_20201027

# 1. 'hello world'를 변수에 저장한 후 화면에 출력하세요.
# 2. var1에는 100, var2에는 200을 담은 후  두 변수의 합을 출력하시오.
# 3. 파이썬 한 줄 주석과 여러 줄 주석은 무엇인가?
# 4. 'hello world'를 변수 text에 저장하시오.
# 5. text 변수에 저장된 문자열을 세 번 반복하시오.
# 6. 문자열 'python programming'에서 
#  1) 't'를 출력하시오
#  2) 'prog'를 출력하시오
#  3) 앞의 5개 문자를 출력하시오.
#  4) 5번 인덱스의 값에 해당하는 문자를 출력하시오.
#  5) 맨 뒤 문자 5개를 출력하시오

In [5]:
#1. 
text = 'hello world'
print(text)

hello world

In [6]:
#2.
var1= 100
var2 = 200
var1 + var2

300

In [7]:
# 한 줄 주석

"""
여러 줄 주석
여러 줄 주석
"""

print(text)

hello world

In [8]:
#5.
text * 3

'hello worldhello worldhello world'

In [9]:
#6. 
text = 'python programming'

In [10]:
text[2]

't'

In [13]:
#7.
text[7:10]

'pro'

In [14]:
# 8
text[0:5]

'pytho'

In [15]:
text[:5]

'pytho'

In [16]:
# 9
text[5]

'n'

In [17]:
# 10
text[-5:]

'mming'

In [18]:
a = 'hello'
b = 'world'
a+b  
# 문자열 간에 더하기를 하면 문자열이 이어진다..

'helloworld'

In [20]:
a = 'hello'
b = 'world'
c = ' '
a+c+b

'hello world'

In [21]:
# in : '요소' in sequence (string, list, set,tuple, dictionary) 
# => 특정 요소가 sequence에 포함되어 있으면 => True
# => 특정 요소가 sequence에 포함되어 있지 않으면 => False

In [23]:
text

'python programming'

In [24]:
'python' in text

True

In [25]:
'hello' in text

False

In [26]:
'p' in text

True

In [27]:
's' in text

False

In [28]:
# len() : sequence의 길이를 return

len(text)

18

In [ ]:
# 문자열에 사용되는 함수..

In [33]:
print(text.upper())
print(text.lower())
print(text.count('p'))   # 문자열 내에 요소의 갯수를 출력..
print(text.find('o'))    # 문자열 위치 인덱스 출력..
print(text.split(' '))   # 문자열을 나눈다.
print(text.replace('python', 'java'))    # 문자열의 값을 바꾼다..

PYTHON PROGRAMMING
python programming
2
4
['python', 'programming']
java programming

In [ ]:
# format

In [37]:
text = 'hello, {}'.format('python')
print(text)

hello, python

In [38]:
score = input('점수를 입력하세요')
text = '당신의 점수는 {}입니다'.format(score)

print(text)

점수를 입력하세요95
당신의 점수는 95입니다

In [ ]:
# int

In [34]:
num1 = 13
num2 = 15

In [39]:
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1/num2)
print(num1%num2)   # num1을 num2로 나눈 나머지..
print(num1// num2)
print(num1**3)   # 승을 표시

28
-2
195
0.8666666666666667
13
0
2197

In [40]:
num1 += num2  # num1과 num2를 더해서 num1에 입력..
num1 -= num2
num1 *= num2
num1 /= num2

In [42]:
a = 10
b = 20

# 비교연산을 하면 결과는 항상 bool
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [43]:
# 논리연산
# and(&) - 비교하는 두 값이 모두 True일 때만 True를 리턴
# or(|) - 비교하는 두 중 어느 하나만 True이면 True를 리턴
# not(!) - True => False, False => True

a = True
b = False
c = True

print(a & b)   # False
print(a | b)   # True
print(not a)   # False

False
True
False

In [45]:
# List
# 1. []
# 2. 원소의 수정, 삭제, 추가가 자유롭다.
# 3. 인덱스가 있어서 인덱싱과 슬라이싱이 가능하다

In [47]:
score = [80, 91, 75, 88, 92]

In [48]:
score[2]

75

In [49]:
score[1: 4]

[91, 75, 88]

In [50]:
score[:4]

[80, 91, 75]

In [51]:
score[3:]

[88, 92]

In [52]:
score[-2]

88

In [53]:
score[-3:]

[75, 88, 92]

In [54]:
# sequence data 주요 함수

In [55]:
len(score)

5

In [56]:
score.append('a')     # 리스트의 뒤로 원소가 계속 추가..
score.append('파이썬')
score

[80, 91, 75, 88, 92, 'a', '파이썬']

In [57]:
'a' in score

True

In [58]:
80 in score

True

In [59]:
score.count(80)

1

In [61]:
score.index('a')

5

In [62]:
# list.pop(index) : 리스트에서 해당 인덱스 값을 삭제
# list.remove(value) : 리스트에서 해당 값을 삭제..

In [63]:
# solarsys = ['태양','수성','금성','지구','화성','목성','지구']
# solarsys1 = ['토성','천왕성','해왕성']

# 1. 행성의 이름을 입력받은 후 solarsys에 있는지 확인하시오.
# 2. 입력받은 행성이 몇 번째 인덱스에 있는지 확인하시오.
# 3. 입력받은 행성을 solarsys의 맨 마지막에 추가하시오.
# # - 지금부터 문제는 solarsys list를 기준으로 풀이하시오
# 4. ['수성','금성','지구']를 출력하시오
# 5. '지구'의 위치 인덱스를 출력하시오.
# 6. '화성'을 '해왕성'으로 변경하시오.
# 7. '수성' 자리에 '명왕성'을 입력하시오.
# 8. '토성'을 맨 끝에 추가하시오.
# 9. '금성'을 제거하시오.
# 10. 2번 인덱스 요소를 삭제하시오.
# 11. solarsys와 solarsys1을 연결하시오.
# 12. 내림차순으로 정렬하시오.
# 13. 원소의 순서를 반대로 하시오.
# 14. solarsys에 '만리장성'이 있는지 확인하시오.
# 15. solarsys를 3번 반복하시오.
# 16. solarsys의 길이를 리턴하시오.
# 17. solarsys의 모든 원소를 지우시오.
# 18. solarsys 리스트를 삭제하시오.

In [ ]:
# python_test

In [ ]:
# 1. 변수 text에 문자열 'python programming is fun'을 입력하시오.
text = 'python programming is fun'
# 2. 위의 변수 text값에 's'가 있는지 확인하시오.
's' in text
# 3. 위의 변수 text값에 'fun'이 있는지 확인하시오.
'fun' in text
# 4. 변수 text의 값의 길이를 출력하시오.
len(text)
# 5. text값을 모두 대문자로 변환하시오.
text.upper()
# 6. text값을 모두 소문자로 변환하시오.
text.lower()
# 7. text의 값에 'o'가 몇 포함되어 있는지 확인하시오.
text.count('o')
# 8. text의 값에 'o'가 몇 번째 인덱스에 처음 존재하는지 확인하시오.
text.find('o')
# 9. text의 문자열을 space를 기준으로 분리해서 리스트에 저장하시오.
text.split()
# 10. text의 문자열에서 'o'를 모두 's'로 바꾸시오.
text.replace('o','s')
# 11. text의 문자열에서 'python'을 'java'로 바꾸시오.
text.replace('python', 'java')
# 12. 문자열 'ynn@naver.com', '2020-06-24'에서 이메일 id와 일짜를 
# 출력하시오.
'ynn@naver.com'.split('@')[0]
'2020-06-24'.split('-')[2]
# 13. '???씨, 당신의 점수는 ???입니다.' 이 문자열에서 이름과 
# 점수를 바꾸어 출력
#      할 수 있도록 하고, 예시로 직접 값을 입력해서 출력하시오.
#      (방식은 format과 % 두 가지 방식으로 만드시오.)
'{}씨, 당신의 점수는 {}입니다.'.format('yuna', 95)
'%s씨, 당신의 점수는 %s입니다.'%('yuna', 95)

In [ ]:
# solarsys= ['태양','수성','금성','지구','화성','목성','지구']
# solarsys1 = ['토성','천왕성','해왕성']
# planet = '지구'

# 1. solarsys에서 ['수성','금성','지구']를 출력
solarsys[1:4]
# 2. solarsys에서 '지구'의 위치 출력
solarsys.index('지구')
# 3. solarsys에서 '화성'을 '해왕성'으로 수정
solarsys[4] = '해왕성'
# 4. solarsys에서 '수성' 자리에 '명왕성' 삽입
solarsys.insert(1, '명왕성')
# 5. solarsys에서 '토성'을 맨 끝에 추가
solarsys.append('토성')
# 6. solarsys에서 '금성'을 제거
solarsys.remove('금성')
solarsys.pop(2)
# 7. solarsys에서 2번 인덱스 요소 삭제
# 8. solarsys와 solarsys1을 합하세요.
solarsys + solarsys1
# 9. solarsys에를 오름차순으로 정렬.
sorted(solarsys)
# 10. solarsys를 내림차순으로 정렬.
sorted(solarsys, reverse=True)
# 11. solarsys에서 '만리장성'이 있는지 확인
'만리장성' in solarsys
# 12. solarsys에서 길이를 리턴하세요.
len(solarsys)
# 13. solarsys에서 '지구'의 갯수를 출력.
solarsys.count('지구')

In [1]:
# 2020-10-29

In [ ]:
# set
# 집합 - 순서가 없다. 인덱스가 없다
# 중복값이 없다. unique한 원소로만 구성
# {}

In [2]:
s = {1,2,3}

In [3]:
s.add(2)

In [4]:
s   # 동일한 값을 넣으면 중복값으로 추가가 되지 않는다.

{1, 2, 3}

In [5]:
s.add(7)
s

{1, 2, 3, 7}

In [6]:
s.remove(7)
s

{1, 2, 3}

In [7]:
s.discard(2)
s

{1, 3}

In [8]:
# 집합연산

In [9]:
a = {1,3,5,7}
b = {1,2,4,6,7,8}

In [10]:
# 합집합
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
# 교집합
a.intersection(b)

{1, 7}

In [13]:
# 교차차집합
a.symmetric_difference(b)

{2, 3, 4, 5, 6, 8}

In [14]:
# 포함여부
a.issubset(b)

False

In [15]:
a.issuperset(b)

False

In [16]:
# 서로소여부 판단..

a.isdisjoint(b)

False

In [18]:
# Dictionary - 사전 (key:value)
# key가 index역할을 한다..
# {key:value, key:value...}

In [19]:
d = {'one':1, 'two':2, 'three':3}

In [20]:
# 값에 접근 시 key를 통해 접근 , key => index역할
d['one']

1

In [21]:
d['two']

2

In [22]:
# dict 값을 추가하는 경우는 d[new key] = value
# 기존에 없었던 새로운 key와 value를 넣으면, 요소가 추가된다.
d

{'one': 1, 'two': 2, 'three': 3}

In [23]:
d['four'] = 13

In [24]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 13}

In [25]:
d['five'] = 100

In [26]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 13, 'five': 100}

In [27]:
# 기존에 있던 key와 value를 입력하면, value에 덮어쓰기가 된다.

In [28]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 13, 'five': 100}

In [29]:
d['two'] = 50

In [30]:
d

{'one': 1, 'two': 50, 'three': 3, 'four': 13, 'five': 100}

In [32]:
d.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [33]:
d.values()

dict_values([1, 50, 3, 13, 100])

In [34]:
d.items()

dict_items([('one', 1), ('two', 50), ('three', 3), ('four', 13), ('five', 100)])

In [ ]:
# 다음 시간 테스트 : 튜플, 셋, 딕셔너리, int연산, 비교연산, 논리연산, IF문

In [1]:
# 20201030

In [ ]:
# if 조건문

# 조건 참이면 실행코드를 실행한다.
# 조건이 참이 아니면 실행코드를 실행하지 않는다.
# 어느 조건도 참이 아니면 else의 실행코드가 실행..

# if 조건1:
#     실행코드1
# elif 조건2:
#     실행코드2
# elif 조건3:
#     실행코드3
# else:
#     실행코드4

In [ ]:
# 임의의 num를 받은 후 양수이면 양수입니다, 홀수이면 홀수입니다..

In [4]:
num = int(input('임의의 수를 입력하시오'))

if num >= 0:
    print('양수입니다')
else:
    print('음수입니다')

임의의 수를 입력하시오-5
음수입니다

In [7]:
# 짝수이면 "짝수입니다". 홀수이면 "홀수입니다..""

num = int(input('임의의 수를 입력하시오'))

if num%2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다')

임의의 수를 입력하시오5
홀수입니다

In [9]:
# 학점출력..
# 임의 점수를 입력받은 후, 점수가 90점 이상이면 'A'입니다
#                          점수가 80점 이상이면 'B'입니다
#                          점수가 70점 미만이면 'C'입니다

In [13]:
score = int(input('점수를 입력하세요'))

if score >= 90:
    print('A입니다')
elif score >= 80:
    print('B입니다')
elif score >= 70:
    print('C입니다')
else:
    print('D입니다')

점수를 입력하세요75
C입니다

In [14]:
# 월을 입력받은 후 
#  12.31 ~ 3.31  사이이면 '봄입니다'
#  4.1 ~ 7.31 사이이면 '여름입니다'
#  8.1 ~ 9.31 사이이면 '가을입니다'
#  10.1 ~ 12.30 사이이면 '겨울입니다'

In [17]:
mon = float(input('월과 일을 입력하세요'))

if 3.31 < mon <= 3.30:
    print('봄입니다.')
elif 4.1 < mon <= 7.31:
    print('여름입니다')
elif 8.1 < mon <= 9.31:
    print('가을입니다')
else:
    print('겨울입니다.')

월과 일을 입력하세요8.5
가을입니다

In [20]:
# 비밀번호는 '1234'이고 비밀번호를 입력받은 후 비밀면호가 일치하면,
# '환영합니다', 비밀번호가 틀리면 '비밀번호가 틀립니다'를 출력하도록..

pw = '1234'

password = input('비밀번호를 입력하세요')

if pw == password:
    print('환영합니다')
else:
    print('비밀번호가 틀립니다..')

비밀번호를 입력하세요2323
비밀번호가 틀립니다..

In [1]:
# 주민번호 7자리를 입력받은 후 7번째 자리가 1이면 '당신은 남성입니다'
# 2이면 '당신은 여성입니다.'
nn = input('주민번호 7자리를 입력하세요')

if len(nn) == 7:
    if nn[-1] == 1:
        print('당신은 남성입니다')
    else:
        print('당신은 여성입니다.')
else:
    print('주민번호 7자리가 아닙니다. 다시 입력하세요')
    nn = input('주민번호 7자리를 입력하세요')

주민번호 7자리를 입력하세요
주민번호 7자리가 아닙니다. 다시 입력하세요
주민번호 7자리를 입력하세요

In [ ]:
# 튜플, 셋, 딕셔너리, int연산, 비교연산, 논리연산, IF문 Test - 20201102

In [ ]:
# Set Test
s1 = {1,2,5}
s2 = {1,2,4,6,7,8}

set s1에서 원소 3를 추가하시오.
=> s1.add(3)
set s1에서 원소 5를 삭제하시요
=> s2.discard(5), s2.remove(5)

s1과 s2의 교집합을 출력하시오
=> s1.intersection(s2)
s1과 s2의 합집합을 출력하시오
=> s1.union(s2)
s1과 s2의 교차차집합을 출력하시오
=> s1.difference(s2)
=> s1.symmetric_difference(s2)
s1이 s2에 포함되는지 확인하시오
=> s1.issubset(s2)
s1이 s2를 포함하는지 확인하시오
=> s1.issuperset(s2)

# Dictionary Test
1. mydict라는 빈 딕셔너리를 만드세요.
=> d = {}
2. 'red':1, 'blue':3, 'green':4 세 요소를 딕셔너리에 추가
=> d['red'] = 1
=> d['blue'] = 3
=> d['green'] = 4
3. 'green'의 value를 7로 수정하세요.
=> d['green'] = 7
4. key에 'blue'가 존재하는지 확인..
=> 'blue' in d
5. dict의 길이를 출력
=> len(d)
6. 'red'의 값을 출력..
=> d['red']
7. key만 출력.
=> d.keys()
8. value만 출력
=> d.values()
9, key와 value를 tuple의 쌍으로 출력
=> d.items()
10, key가 'blue'인 요소를 삭제
=> d.pop('blue')

# IF문 Test
1. 임의의 정수를 입력받은 후 짝수이면 '짝수입니다.'
    홀수이면 '홀수입니다'를 출력하시오.
    
=> 
num = int(input('임의의 정수를 입력하세요'))
if num%2 == 0:
    print('짝수입니다')
else: 
    print('홀수입니다')

2. 날짜를 입력받은 후 해당 날짜의 계절을 출력하도록 하시오.
=> date = input('날짜를 입력하세요')
   date = '20201029'
   month = date[4:6]
   if 12 <= month < 3:
        print('겨울입니다')
   elif 3<= month < 6:
        print('봄입니다')
   elif 6<= month < 9:
        print('가을입니다')
   else:
        print('겨울입니다..')

3. 점수를 입력받은 후 학점을 출력하는 코드를 작성하시오.

score = int(input('점수를 입력하세요'))
if score >= 90:
    print("'A'학점입니다")
elif 80 <= score < 90:
    print("'B'학점입니다")
elif 70 <= score < 80:
    print("'C'학점입니다")
else:
    print("'D'학점입니다")

4. 출생년도를 입력받은 후   20대 이하이면 => '젊으시군요'
                             30대이면 => '좋은 때입니다'
                             40대이면 => '인생의 황금기입니다'
                             50대 이상이면 => '중년이시군요'
            
birth = int(input('출생년도를 입력하세요'))
age = 2020 - birth

if age <= 20:
    print('젊으시군요')
elif 20 < age <= 30:
    print('좋은 때입니다')
elif 30 < age <= 40:
    print('인생의 황금기입니다')
else:
    print('중년이시군요')    

# 논리연산
A = True
B = False
C = True

1. A, B, C 모두 참일 경우에만 참이되는 연산식을 만드시오
=> A & B & C

2. A, B, C 중 어느 하나만 참이면 참이되는 연산식을 만드시오
=> A | B | C

In [1]:
# 반복문 => for문/while문 - 20201104

In [ ]:
# for i in sequence(string, list, set, tuple, dictionay, range()):
#     실행코드

# sequence data에서 원소가 하나씩 나올 때마다 실행코드가 실행됨.
# sequence data의 원소가 모두 나오면 반복을 중지

In [ ]:
# while 조건(True/ False):
#     실행코드

# 조건이 True이면 실행코드를 실행 => 조건이 True이면 실행코드를 계속 실행..
# 조건이 False로 바뀌면 => 실행코드의 반복을 중지..

In [2]:
for i in ['a','b','c']:
    print(i)

a
b
c

In [3]:
for i in ('a','b','c'):
    print(i, end=' ')

a b c

In [4]:
for k in {'a','b','c'}:
    print(k)

b
a
c

In [6]:
for c in 'python programming':
    print(c, end=' ')

p y t h o n   p r o g r a m m i n g

In [7]:
for d in {'a':1, 'b':2, 'c':3}:
    print(d)

a
b
c

In [9]:
for i in range(1,11):
    print(i, end='::')

1::2::3::4::5::6::7::8::9::10::

In [11]:
count = 0
while count < 10:
    print(count, end=' ')
    count += 1

0 1 2 3 4 5 6 7 8 9

In [12]:
for i, j in enumerate('python'):
    print(i)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [14]:
# 'python' for문으로 문자 하나하나씩 출력하되, 대문자로 출력하시오..
for c in 'python':
    print(c.upper())

P
Y
T
H
O
N

In [15]:
# list 'A'와 list 'B'의 각원소의 모든 조합을 출력하시오..
A = ['a','b','c']
B = ['가','나','다']

for i in A:
    for j in B:
        print(i, j)

a 가
a 나
a 다
b 가
b 나
b 다
c 가
c 나
c 다

In [17]:
# 1 부터 10까지의 합을 구하시오...
# for문과 while문을 각각 사용하시오..

suma = 0
for i in range(1,11):
    suma += i
suma

55

In [18]:
suma = 0
count = 0

while count < 11:
    suma += count
    count += 1
suma

55

In [1]:
# for문 Test - 20201116

In [ ]:
# 1. 1부터 10까지 3의 배수만 출력.. 
#  - for문과 while문으로 작성
# 2. 1 ~ 10까지의 정수의 합을 구하시오.
# 3. 1 ~ 10까지 홀수만 리스트에 담으시오.
# 4. 1 ~ 10까지 짝수의 합을 구하시오.
# 5. 점수를 3회 입력받은 후 평균점수를 출력하시오. 
#  - for문과 while문으로 작성
# 6. text = 'hello python'
#    모음 = 'aeiou'
#    위의 text에서 모음의 갯수를 출력하시오
# 7. 위의 text에서 모음은 모음끼리 자음은 자음끼리 리스트에 담으시오.
# 8. 1 ~ 10까지의 연속값에서 '4','5','6'만 출력하시오.
#    - continue와 break를 사용하시오.
# 9. a = ['a','b','c']
#    b = ['가','나','다']
#     a와 b의 두 리스트의 모든 조합을 출력하시오..
# 10. 1 ~ 10까지의 제곱값을 리스트에 담으시오
#    - List Comprehension을 사용하시오.

In [3]:
# 1
for i in range(1,11):
    if i%3 == 0:
        print(i, end=' ')

3 6 9

In [4]:
# 2
suma = 0
for i in range(1,11):
    suma += i
print(suma)

55

In [5]:
# 3
odd_list = []
for i in range(1,11):
    if i%2 != 0:
        odd_list.append(i)
odd_list

[1, 3, 5, 7, 9]

In [6]:
# 4
suma = 0
for i in range(1,11):
    if i%2 == 0:
        suma += i
suma

30

In [7]:
# 5

suma = 0
count = 0

while count < 3:
    score = int(input('점수를 입력하세요'))
    suma += score
    count += 1
    
result = suma/3
print(result)

점수를 입력하세요3
점수를 입력하세요3
점수를 입력하세요3
3.0

In [8]:
# 5

suma = 0

for _ in range(3):
    score = int(input('점수를 입력하세요'))
    suma += score
    
result = suma/3
print(result)

점수를 입력하세요3
점수를 입력하세요3
점수를 입력하세요3
3.0

In [9]:
# 6. 
text = 'hello python'
vowel = 'aeiou'

count = 0
for c in text:
    if c in vowel:
        count += 1
count

3

In [11]:
# 7 
text = 'hello python'
vowel = 'aeiou'

v_list = []
c_list = []

for c in text:
    if c in vowel:
        v_list.append(c)
    else:
        if c.isalpha():
            c_list.append(c)
        
print(v_list)
print(c_list)

['e', 'o', 'o']
['h', 'l', 'l', 'p', 'y', 't', 'h', 'n']

In [14]:
# 8   => '4','5','6'

count = 0
while count < 11:
    count += 1
    if count < 4:
        continue
    if count > 6:
        break
    print(count)

4
5
6

In [15]:
# 9. 

a = ['a','b','c']
b = ['가','나','다']

for i in a:
    for j in b:
        print(i, j)

a 가
a 나
a 다
b 가
b 나
b 다
c 가
c 나
c 다

In [18]:
# 10.  List Comprehension

[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
temp = []
for i in range(1,11):
    temp.append(i**2)
temp

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
### Function

In [ ]:
# 함수 사용 이유
#   코드 중복 사용하지 않음.
#   코드 모듈화
#   코드의 생산성

# 1. 함수를 만드는 부분(정의)

# def 함수이름(매개변수1, 매개변수2, ... ):
#     실행코드..
#     실행코드

# 2. 함수 실행(함수호출)

# 함수이름(매개변수1의 값, 매개변수2의 값, ...)

In [2]:
# 매개변수 없는 함수

def test_func():
    print('hello python')

In [3]:
test_func()

hello python

In [3]:
# 매개변수 있는 함수

def test_func(name):
    print('hello' + ' ' + str(name))

In [4]:
test_func()  # 매개변수를 하나 받도록 함수가 정의 => 실행 시 매개변수를 전달하지 않음.

TypeError: test_func() missing 1 required positional argument: 'name'

In [5]:
test_func('JunHo')

hello JunHo

In [6]:
# 매개변수가 여럿인 함수

def test_func(name1, name2):
    print('{}와 {}는 친구이다'.format(name1, name2))

In [7]:
test_func('JunHO') # 함수정의 시 매개변수 두 개 필요.. 호출 시 하나의 값만 전달..

TypeError: test_func() missing 1 required positional argument: 'name2'

In [8]:
test_func('Junho', 'Parkmin')

Junho와 Parkmin는 친구이다

In [9]:
# 두 개의 값을 받아서 합을 출력하는  함수..

def addf(num1, num2):
    return num1 + num2

In [10]:
addf(2,4)

6

In [11]:
# 기본매개변수
# => 매개변수를 입력하면 입력한 값을 매개변수의 값으로 받는다
# => 매개변수 값을 입력하지 않고 함수를 호출 => 기본매개변수의 값이 매개변수값이 된다

def test_func3(var = 'python'):
    print('hello {}!!'.format(var))

In [12]:
test_func3('Junho')

hello Junho!!

In [13]:
test_func3()  # 매개변수에 기본값이 정의된 경우.. 기본값이 매개변수의 값으로 전달..

hello python!!

In [14]:
# 가변매개변수 : 여러개의 값을 받을 수 있는 매개변수.. *var
# 가변매개변수는 값을 여러개 받으면 함수 내에서 tuple로 저장한다..

def test_func(*var):
    print(var)

In [2]:
test_func(1,2,3,4)

(1, 2, 3, 4)

In [15]:
# 정수값을 여러개 받는 매개변수를 정의하고 그 합을 출력하는 함수..

def test_func(*k):
    return sum(k)

In [16]:
test_func(1,2,3,4,5)

15

In [17]:
# 키워드매개변수 : **var 
# 키워드매개변수는 값을 받을 때, 반드시 key=value으로 값을 받는다.
# 키워드매개변수는 함수 내에서 dictionary 형태로 변수이름으로 저장된다..

In [18]:
def test_func5(**kw):
    print(kw)

In [19]:
test_func5(2,3,4)

TypeError: test_func5() takes 0 positional arguments but 3 were given

In [21]:
test_func5(2)

TypeError: test_func5() takes 0 positional arguments but 1 was given

In [22]:
test_func5(x=2, y=4, z=3)

{'x': 2, 'y': 4, 'z': 3}

In [24]:
# 절대값을 출력하는 함수..

def absf(n):
    if n < 0:
        return n*(-1)
    else:
        return n

In [25]:
absf()

TypeError: absf() missing 1 required positional argument: 'n'

In [26]:
absf(3)

3

In [27]:
absf(-3)

3

In [28]:
# 이름, 이메일, 주소를 입력받아서 명함을 출력하는 함수..

def business_card(name, email, address):
    print('-----------------')
    print('Name : {}'.format(name))
    print('Email : {}'.format(email))
    print('Address : {}'.format(address))
    print('-----------------')

In [29]:
business_card('park','park@hamail.net','seoul')

-----------------
Name : park
Email : park@hamail.net
Address : seoul
-----------------

In [30]:
# 두 개의 임의의 a, b 정수를 받아서 어느 것이 더 큰지 출력..
def comp(a,b):
    if a>b:
        print('{}가 {}보다 큽니다'.format(a,b))
    elif a<b:
        print('{}가 {}보다 큽니다'.format(b,a))
    else:
        print('{}와 {}가 같습니다'.format(b,a))

In [32]:
comp(2,2)

2와 2가 같습니다

In [33]:
# 점수를 받아서 학점을 출력하는 함수..

def test_func(score):
    if score >= 90:
        hakjum = 'A'
    elif 80 <= score <90:
        hakjum = 'B'
    else:
        hakjum = 'C'
    return hakjum

In [35]:
test_func(95)

'A'