In [3]:
import pandas as pd
import numpy as np

In [ ]:
# 1. BasePay 평균은 ?
# 2. OvertimePay의 최대값은?
# 3. 'JOSEPH DRISCOLL'의 직업은?
# 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?
# 5. 연도별 BasePay의 평균금액은?
# 6. 'JobTitle'의 종류는?
# 7. 'JobTitle'의 종류 중 가장 많은 JobTitle 상위 5개는 무엇인가?
# 8. 2011년도에 오직 한 사람만 종사하고 있는 JobTitle은?
# 9. 'Chief'라는 직업을 가진 사람의 수는?

In [8]:
sal = pd.read_csv('Salaries1.csv')
sal.head(3)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

In [10]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50000 non-null  int64
 1   Id                50000 non-null  int64
 2   EmployeeName      50000 non-null  object
 3   JobTitle          50000 non-null  object
 4   BasePay           50000 non-null  float64
 5   OvertimePay       50000 non-null  float64
 6   OtherPay          50000 non-null  float64
 7   Benefits          13841 non-null  float64
 8   TotalPay          50000 non-null  float64
 9   TotalPayBenefits  50000 non-null  float64
 10  Year              50000 non-null  int64
 11  Notes             0 non-null      float64
 12  Agency            50000 non-null  object
 13  Status            0 non-null      float64
dtypes: float64(8), int64(3), object(3)
memory usage: 5.3+ MB

In [9]:
# 1. BasePay 평균은 ?

In [12]:
sal.BasePay.mean()

75601.13714620461

In [13]:
sal['BasePay'].mean()

75601.13714620461

In [14]:
# 2. OvertimePay의 최대값은?

In [15]:
sal['OvertimePay'].max()

245131.88

In [16]:
# 3. 'JOSEPH DRISCOLL'의 직업은?

In [22]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [23]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [24]:
# 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?

In [29]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [31]:
sal.head(1)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [30]:
# 5. 연도별 BasePay의 평균금액은?

In [32]:
sal.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [33]:
# 6. 'JobTitle'의 종류는?

In [39]:
len(sal['JobTitle'].unique())

1697

In [40]:
# 7. 'JobTitle'의 종류 중 가장 많은 JobTitle 상위 5개는 무엇인가?

In [54]:
sal.groupby('JobTitle').count().sort_values('Id', ascending=False).head().index

Index(['TRANSIT OPERATOR', 'SPECIAL NURSE', 'REGISTERED NURSE',
       'Registered Nurse', 'CUSTODIAN'],
      dtype='object', name='JobTitle')

In [58]:
job_count = {}
for j in sal.JobTitle:
    if j in job_count:
        job_count[j] += 1
    else:
        job_count[j] = 1
sorted(job_count.items(),key = lambda x: x[1], reverse=True)[:5]

[('TRANSIT OPERATOR', 2388),
 ('SPECIAL NURSE', 1402),
 ('REGISTERED NURSE', 1219),
 ('Registered Nurse', 1003),
 ('CUSTODIAN', 796)]

In [60]:
sal.JobTitle.value_counts()[:5]

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: JobTitle, dtype: int64

In [ ]:
# 8. 2011년도에 오직 한 사람만 종사하고 있는 JobTitle은?

In [66]:
sal2011 = sal[sal.Year == 2011]

In [81]:
temp_df = (sal2011['JobTitle'].value_counts() == 1)
temp_df[temp_df == True].index

Index(['BARBER', 'ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION',
       'CHIEF FIRE ALARM DISPATCHER', 'EXECUTIVE SECRETARY TO THE CONTROLLER',
       'AIRPORT MECHANICAL MAINTENANCE SUPERVISOR', 'CHIEF OF POLICE',
       'PORT DIRECTOR', 'ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN',
       'SENIOR MEDICAL TRANSCRIBER TYPIST', 'SENIOR OPERATIONS MANAGER',
       ...
       'CHIEF TELEPHONE OPERATOR', 'SUPERVISING PARTS STOREKEEPER',
       'MATERIALS AND SUPPLIES SUPERVISOR',
       'CHIEF PROBATION OFFICER, JUVENILE COURT',
       'DIRECTOR, PROBATION SERVICES',
       'SENIOR MATERIALS AND SUPPLIES SUPERVISOR',
       'SUPERVISING WELFARE FRAUD INVESTIGATOR',
       'ASSISTANT DIRECTOR OF CLINICAL SERVICES II', 'SPECIAL ASSISTANT XIV',
       'METALSMITH'],
      dtype='object', length=200)

In [82]:
# 9. 'Chief'라는 직업을 가진 사람의 수는?

In [84]:
sal.JobTitle.head()

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
3              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
Name: JobTitle, dtype: object

In [86]:
chief_count = 0

for j in sal.JobTitle:
    if 'Chief' in j:
        chief_count += 1
chief_count

114

In [ ]:
# 'Chief' or 'chief' 대소문자 구분을 하지 않는 경우..

In [87]:
chief_count = 0

for j in sal.JobTitle:
    if 'chief' in j.lower():
        chief_count += 1
chief_count

318

In [100]:
sum(sal['JobTitle'].str.contains('Chief').values)

114

In [ ]:
# 대소문자 구분하지 않는 경우..

In [95]:
sal['jobtitle'] = sal['JobTitle'].apply(lambda x: x.lower())

In [96]:
sum(sal['jobtitle'].str.contains('chief').values)

318